@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


body {
  background-size: cover;
  background-repeat: no-repeat;
}

.body {
  align-items: center;
  position: relative;
  top: 20px;
  background-color: #e0d9d9;
  max-width: 1150px;
  height: 500px;
  box-shadow: 6px 6px 6px 9px rgb(68, 67, 67);
}
.text{
  margin-left: 50px;
}
.lh-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation: sliding forwards 1 6s;
  }
  .lh-side h1 {
    display: flex;
  }
  .lh-side h1 h1 {
    color: #ee03b3;
    margin-left: 5px;
  }
  .lh-side p h2 {
    color: #ee03b3;
  }
  .lh-side p h4{
    font-size: 18px;
  }


  @keyframes sliding {
    0% {
      width: 0;
    }
    100% {
      width: 50%;
    }
  }
  
  .btn {
    width: 150px;
  }
  .rh-side {
    display: flex;
    justify-content: center;
  }
  .avatar {
    /* margin-left: 30px; */
    border-radius: 10px;
    box-shadow: 3px 3px 6px rgb(85, 82, 82);
    width: 350px;
    height: 450px;
    margin-top: 20px;
    margin-left: 80px;
  }
  .social {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 200px;
    padding-left: 0;
    position: relative;
    top: 15px;
    margin-left: 70px;
  }
  .fa-brands {
    font-size: xxx-large;
  }
  .fa-square-x-twitter {
    color: black;
    border: 1p solid red;
  }
  .fa-square-github {
    color: black;
  }
  .fa-square-instagram {
    background: linear-gradient(
      45deg,
      #515bd4,
      #8134af,
      #dd2a7b,
      #feda77,
      #f58529
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .buttons {
    display: flex;
    gap: 20px;
    margin-left: 70px;
    margin-top: 20px;
  }
  .btn a {
    text-decoration: none;
    color: #ffffff;
  }
  
  @media (max-width: 1000px) {
    @keyframes sliding {
      0% {
        width: 0;
      }
      100% {
        width: 100%;
      }
    }
    .body {
      top: 0;
      height: 800px;
    }
    .rh-side {
      order: 0;
    }
    .lh-side {
      order: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .avatar {
      width: 300px;
      height: 300px;
      margin-top: 30px;
      margin-left: 0;
      border-radius: 50%;
    }
    .buttons {
      display: flex;
      flex-direction: column;
      margin:0;
    }
    .social{
      margin: 0;
      top: 5px;
    }
  }
